[Unit]
Description=Ultrasonic gage client
Wants=rtc-ds1307.service
After=rtc-ds1307.service

[Service]
WorkingDirectory=/gage/gage-beaglebone/
ExecStart=/usr/bin/python gage.py
SyslogIdentifier=gage
Restart=on-failure
RestartSec=30


[Install]
WantedBy=multi-user.target